/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

th, td {
  padding: 5px 15px;
  vertical-align: top;
  border-bottom: 1px solid black;
}